<title>Device list</title>

<form>
    <button>Connect new device</button>
</form>

<script>
    function isWebBLEAvailable() {
        if (!navigator.bluetooth) {
            console.log('BLE not available')
            return false
        }
        console.log('Success')
        return true
    }

    function getDeviceInfo() {
        let options = {
            acceptAllDevices: true
        }

        navigator.bluetooth.requestDevice(options).then(device => {
            console.log('Name: ' + device.name)
        }).catch( error => {
            console.log('Error: ' + error)
        })
    }

    document.querySelector('form').addEventListener('submit', function(event) {
        event.stopPropagation()
        event.preventDefault()

        if(isWebBLEAvailable()) {
            getDeviceInfo()
        }
    })
</script>